/* .navbar {
    background-color: gray;
}
.form-container {
    position: relative;
    top: 20rem;
    border: 1px solid #fe4066;
    height: 100px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 200px;
    background-color: #c90a0a;
  
  } */