body {
  font-family: 'Source Code Pro', monospace;  
  font-size: 16px;
    height: auto;
    
}
.navbar-fixed-top{
    height: 5rem;
    width: 100vw;
    background-color: rgb(27, 27, 27);
    transition:1.25s;
  
  }
  .nav-link {
      color: white;
  }
  .navbar-toggler {
    border: 0;
    margin-right: 0rem;
    margin-top: .5rem;
    transition: width 1s ease;
    font-size: 1.5rem;
    z-index: 1;
    color: black;
  }

  .intro-container {
    position: relative;
    top: 6.5rem;
    width: 100%;
    height: auto;
  }
  .intro-title > h2 {
    margin-bottom: .5rem;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  .intro-description {
    margin-top: 1rem;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 7.5vh;
  }
  #intro-img {
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  }
  .feature-list-container {
    width: 100vw;
    height: auto;
    margin-top: 12.5rem;
  }
 .card-body {
   overflow: scroll;
 }
  .card-title {
    margin-bottom: .5rem;
    font-size: 18px;
    line-height: 24px;
    background: none;

  }
  .card-description {
    margin-top: 1rem;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1em;
    background: none;
  }
  .card-image {
      width: 100%;
      height: 200px;
      background-color: red;
      background: none;
  }




  /* ----------------------------------------MEDIA QUERIES */
/* -- Mobile -- */

@media (min-width: 480px){

}

/* -- Tablet -- */
@media (min-width: 768px){
  
  .card {
    width: 75vw;
    height: 65vh;
    border: none;
    margin-bottom: 5rem;
  }
  .card-image {
    width: 75vw;
    height: 30vh;
    border: none;
    
  }
} 

/* -- Desktop -- */
@media (min-width: 1024px){
  .card-body {
    overflow: hidden;
  }
  .card {
    width: 35vw;
    height: auto;
    border: none;
    margin-bottom: 2.5rem;
    
  }
  .card-image {
    width: 35vw;
    height: 45vh;
    border: none;
    
  }

} 