@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* Add global vars for fonts/colors  */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  
}
.container-fluid {
  padding: 0;
}
#navbar-container {
  float: right;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  
}
.intro-container {
  position: relative;
  text-align: center;
  padding-top: 2rem;
}


/* ----------------------------------------GLOBAL CLASSES */
#hr-update {
  position: relative;
  width: 17.5rem;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: .5rem;
  margin-block-end: .5rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  text-align: center;
}
.font-weight-100 {
  font-weight: 100;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}

.size-xsm {
  font-size: .75rem;
}
.size-sm {
  font-size: 1rem;
}
.size-md {
  font-size: 1.5rem;
}
.size-lg {
  font-size: 2.5rem;
}
.size-lgx {
  font-size: 4rem;
}
.rmv-border {
  border: var(--rmv-border);
}
.color-main {
  color: #fe4066;
}
.bg-main {
  background-color: #fe4066; 
}

.btn {
  border-radius: 1rem;
  background-color: transparent;
  border: 1px solid #fe4066;
  width: 7rem;
}
/* ----------------------------------------BUTTONS */

.btn:hover {
  color: white;
  background-color: transparent;
  transform: scale(1.06);
  border: 1px solid #fe4066;
  transition: ease-in-out 350ms;
}
#logo:hover {
  transform: scale(1.08);
  transition: ease-in-out 100ms;

}

/* ----------------------------------------NAVIGATION & LOGO */

.navbar-toggler {
  border: 0;
  margin-right: 1.25rem;
  transition: 1s;
  z-index: 1;
}

#logo {
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 1rem;
}
#logo2 {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 1rem;
  margin-left: 2rem;
}
.navbar-toggler{
  font-size: 1.5rem;
}
.nav-item {
  margin-right: 3rem;
  text-transform: uppercase;
}

.nav-link {
  float: right;
  font-weight: 400;
  letter-spacing: .2rem;
  font-size: 1.5rem;
}
.navbar-nav {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 16rem;
  background-color: #141414;
}

.navbar-fixed-top{
  height: 5px;
  transition:2s;
}
.navbar-fixed-top.scrolled {
  background-color: #1d1d1d;
  height: 3.5rem;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}
/* ----------------------------------------HERO IMAGE */
#hero-image {
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: #1d1d1d;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;

}


/* ----------------------------------------INTRODUCTION */

.intro-title {
  position: relative;
  font-size: 1rem;
}
.intro-description{
  font-size: 1em;
  font-weight: 200;
}

/* ----------------------------------------CALL TO ACTION */

/* ----------------------------------------FEATURE SECTION */

.features-container {
  position: relative;
  height: auto;

}

.features {
  position: relative;
  text-align: center;
}
/* ----------------------------------------MAIN CONTENT (CARDS) */
.zip-container {
  background-color: transparent;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .3)),url(/assets/images/card-bg.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  height: 60vh;
  
}
.card {
  background: transparent;
  margin-top: 17.5%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
#card-title {
  position: relative;
  font-size: 2rem;
}
#card-desc {
  position: relative;
  left: 2rem;
  width: 22rem;
}
#zip {
  align-self: center;
}

/* ----------------------------------------FOOTER */
footer {
  text-align: center;
  color: #fe4066;
width: auto;
height: 200px;
background-color: #1d1d1d;

}


/* ----------------------------------------MEDIA QUERIES */
/* -- Mobile -- */

@media (min-width: 480px){

  .features-container {
    position: relative;
    top: 17.5rem;
    height: auto;
    margin-bottom: 22.5rem;

}
#featured-image1{
  margin-bottom: 2.5rem;
  width: 100vw;
  height: 50vh;
  background-size: 100% 100%;

}
#featured-image2{
  margin-bottom: 2.5rem;
  width: 100vw;
  height: 50vh;
  background-size: 100% 100%;

}

}

/* -- Tablet -- */
@media (min-width: 768px){
  #hero-image {
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: #1d1d1d;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    
  }
  #hero-image {
    height: 40vh;
    width: 100vw;
    background-size: 140% 110%;
    
    }
  .features-container {
    margin-bottom: 27.5rem;
    height: auto;

}
#featured-image1{
  margin-bottom: 2.5rem;
  width: 75vw;
  height: 50vh;
  background-size: 100% 100%;

}
#featured-image2{
  margin-bottom: 2.5rem;
  width: 75vw;
  height: 50vh;
  background-size: 100% 100%;

}
}

/* -- Desktop -- */
@media (min-width: 990px){
  #logo {
    display: none;
  }
  .navbar-nav {
 background-color: transparent;
  }
  #hero-image {
    height: 25rem;
  }
#featured-image1{
  width: 50vw;
  height: 50vh;
  background-size: 100% 100%;

}
#featured-image2{
  margin-bottom: 2.5rem;
  width: 50vw;
  height: 50vh;
  background-size: 100% 100%;
}
} 