@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  /* Add global vars for fonts/colors  */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}
#navbar-container {
  float: right;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  
}
.container-fluid{
  margin: 0;
  padding: 0;
}

.intro-container {
  position: relative;
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 3rem;
}
.features-container {
  position: relative;
  top: 12rem;
  height: 60rem;
}
.card-container {
  text-align: center;
  width: 100vw;
}
/* ----------------------------------------GLOBAL CLASSES */
#hr-update {
  position: relative;
  width: 17.5rem;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: .5rem;
  margin-block-end: .5rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  text-align: center;
}
.font-weight-100 {
  font-weight: 100;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}

.size-xsm {
  font-size: .75rem;
}
.size-sm {
  font-size: 1rem;
}
.size-md {
  font-size: 1.5rem;
}
.size-lg {
  font-size: 2.5rem;
}
.size-lgx {
  font-size: 4rem;
}
.rmv-border {
  border: var(--rmv-border);
}
.color-main {
  color: #fe4066;
}
.bg-main {
  
  background-color: #fe4066; 
}

.btn {
  border-radius: 1rem;
  background-color: transparent;
  border: 1px solid #fe4066;
}
/* ----------------------------------------BUTTONS */
.features:hover {
  transform: scale(1.03);
  cursor: default;

  transition: ease-in-out 2 50ms;
}

.btn:hover {
  color: white;
  background-color: transparent;
  transform: scale(1.06);
  border: 1px solid #fe4066;
  transition: ease-in-out 350ms;
}
#logo:hover {
  transform: scale(1.08);
  transition: ease-in-out 100ms;

}

/* ----------------------------------------NAVIGATION & LOGO */

.navbar-toggler {
  border: 0;
  margin-right: 1.25rem;
}

#logo {
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 1rem;
}

.navbar-nav {
  float: right;
  
}
.navbar-fixed-top.scrolled {
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  background-repeat: no-repeat;
  background-color: rgb(29, 29, 29) !important;
  transition: background-color 150ms linear;
}
/* ----------------------------------------HERO IMAGE */
#hero-image {
  position: absolute;
  height: 40vh;
  width: 100vw;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, .6 ), rgba(0, 0, 0, 0.3)),url(/assets/images/hero-image.png);
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  background-size: 180% 110%;
  background-repeat: no-repeat;

}


/* ----------------------------------------INTRODUCTION */

.intro-title {
  position: relative;
  font-size: 1rem;
  

}
.intro-description{
  font-size: 1em;
  font-weight: 200;
}

/* ----------------------------------------CALL TO ACTION */

/* ----------------------------------------FEATURE SECTION */


.features {
  margin-bottom: 5rem;
  text-align: center;
  width: auto;
  height: auto;
 

}
/* ----------------------------------------MAIN CONTENT (CARDS) */
#card1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/assets/images/diablo4.png);
  animation-delay: 2s;
  
}
.titleBefore {
  position: relative;
  top: 100px;
  transition: visibility 1s, opacity 0.7s linear;
  transition-delay: 250ms;

}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.7s linear;
  transition-delay: 250ms;
}
#card1:hover .titleBefore {
  transition: visibility 1s, opacity 0.7s linear;
  transition-delay: 250ms;
  opacity: 0;
}
#card1:hover .hidden{
  visibility: visible;
  opacity: 1;

}
.card-body{
  width: 100vw;
  height: auto;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  margin-bottom: 2.5rem;
  animation-delay: 2s;
  transition-delay: 2s;
  background-color: transparent;
  
}
#card1{
  transition-delay: 2s;
  width: auto;
  height: 15rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(/assets/images/diablo4.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}
#card2{
  width: auto;
  height: 15rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(/assets/images/CSGO.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}
#featured-image2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/assets/images/diablo4.png);
}

/* ----------------------------------------FOOTER */
.footer {}

/* ----------------------------------------MEDIA QUERIES */
/* -- Mobile -- */

@media (min-width: 480px){
  #hero-image {
  height: 40vh;
  width: 100vw;
  background-size: 180% 110%;
  }
  .features-container {
    position: relative;
    top: 17.5rem;
    height: 50rem;

}
#featured-image1{
  margin-bottom: 2.5rem;
  width: 100vw;
  height: 50vh;
  background-size: 100% 100%;
  

}
#featured-image2{
  margin-bottom: 2.5rem;
  width: 100vw;
  height: 50vh;
  background-size: 100% 100%;
  

}
}

/* -- Tablet -- */
@media (min-width: 768px){
  #hero-image {
    height: 65vh;
    width: 100vw;
    background-size: 140% 110%;
    
    }
  .features-container {
    margin-bottom: 27.5rem;
    height: 40rem;

}
#featured-image1{
  margin-bottom: 2.5rem;
  width: 75vw;
  height: 50vh;
  background-size: 100% 100%;
  

}
#featured-image2{
  margin-bottom: 2.5rem;
  width: 75vw;
  height: 50vh;
  background-size: 100% 100%;
  

}
}

/* -- Desktop -- */
@media (min-width: 990px){

  .features-container {
}
#featured-image1{
  width: 50vw;
  height: 50vh;
  background-size: 100% 100%;

}
#featured-image2{
  margin-bottom: 2.5rem;
  width: 50vw;
  height: 50vh;
  background-size: 100% 100%;
}

} 


