body {
  height: auto;
  font-family: 'Source Code Pro', monospace;  
  font-size: 16px;
}
.top-rated-hero-image {
  position: relative;
  background: url('assets/images/top-rated-hero.jpg') fixed no-repeat center;
  filter: brightness(20%);
  height: 65vh;
  margin-bottom: 2.5rem;
}

.genres-intro {
  top: 0;
  padding-top: 27.5vh;
  position: absolute;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 26px;
  
}

.genres-container {
  width: 100vw;
  top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  transition: 1s;
  animation: 5s;
}
.genre-image  {
  margin: auto 0;
  background-size: cover;
  width: 25rem;
  height: auto;
  margin-bottom: 2.5vh;
  text-align: center;
  cursor: default;
  display: inline-block;

}
.toggleColor {
  color: #fe4066;

}
.genre-image:hover {
  transition: .35s;
  transform: scale(1.1);
}
.card:hover {
  transform: scale(1.02);
  transition: .2s;
} 
.card {
  height: auto;
}
.card:nth-child(1) {
  margin-top: 3rem;
}
.card-body {
  height: auto;

}
.card-img-top {
  width: 100%;
  height: 17.5rem;
}
.card-title {
  display: inline-block;

}
.float-right {
  float: right;
}
.fps-image {
  width: 12.5rem;
  height: 10rem;
  color: #fe4066;
  display: inline-block;

}
.rpg-image, .mmorpg-image {
  filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome & Safari 6+ */
  width: 12.5rem;
  height: 10rem;
  display: inline-block;
  filter: grayscale(100%);
}
.fps-image:hover, .rpg-image:hover, .mmorpg-image:hover {
  filter: none;
 
}
.rpg-container,.mmorpg-container {
  width: 100vw;
  height: auto;
  display: none;
  margin-bottom: 5rem;
 
}
.fps-container {
  width: 100vw;
  height: auto;
  margin-bottom: 5rem;
}



 /* ----------------------------------------MEDIA QUERIES */
/* -- Mobile -- */

@media (min-width: 480px){

}

/* -- Tablet -- */
@media (min-width: 768px){
  

} 

/* -- Desktop -- */
@media (min-width: 1024px){


} 

 
  
  
