

.genre-image  {
  background: url(/assets/images/fps.png) no-repeat center center;
  background-size: cover;
  width: 200px;
  height: 150px;
  margin-right: 1rem;

}
.fps-container,.rpg-container,.mmorpg-container {
  width: 100vw;
  height: 1000px;
  display: none;

}
